.matchers-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.header-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
  padding: 0 16px;

  .page-title {
    margin: 0;
  }
}

.actions-bar {
  padding: 16px;
  display: flex;
  justify-content: flex-end;
}

.table-container {
  flex: 1;
  overflow: auto;
}

.matchers-table {
  width: 100%;

  .mat-column-actions {
    width: 100px;
    text-align: right;
    white-space: nowrap;
  }
}

.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}


.clickable-row {
  cursor: pointer;

  &:hover {
    background: #f5f5f5;
  }
}