<mat-toolbar class="header">
    @if (!sidenavOpened()) {
        <div class="left-section">
            <button mat-icon-button (click)="onMenuToggle()" aria-label="Toggle menu">
                <mat-icon>menu</mat-icon>
            </button>
            <span class="app-title">Geek Budget</span>
        </div>

        <div class="nav-links">
            @for (item of mainMenuItems(); track item.route) {
                <button mat-button (click)="navigateTo(item.route)" class="nav-link">
                    <mat-icon>{{ item.icon }}</mat-icon>
                    <span>{{ item.label }}</span>
                </button>
            }

            <button mat-button [matMenuTriggerFor]="moreMenu" class="nav-link">
                <mat-icon>more_horiz</mat-icon>
                <span>More</span>
            </button>
        </div>

        <mat-menu #moreMenu="matMenu">
            @for (item of overflowMenuItems(); track item.route) {
                <button mat-menu-item (click)="navigateTo(item.route)">
                    <mat-icon>{{ item.icon }}</mat-icon>
                    <span>{{ item.label }}</span>
                </button>
            }
        </mat-menu>
    }
</mat-toolbar>
