### Backend
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Go workspace file
backend/go.work
backend/bin/geekbudget
backend/pkg/generated/angular/
backend/token
backend/transactions.json
backend/*.xlsx
backend/*.csv
geekbudget*.db

### Frontend
frontend/node_modules/
frontend/dist/
frontend/.angular/
frontend/.cache/
frontend/.ng
frontend/.nyc_output/
frontend/coverage/
frontend/tmp/
frontend/*.log
frontend/test_fe_output.txt
