.layout-container {
    height: 100vh;
    width: 100vw;
    display: flex;
    overflow: hidden;
}

.layout-sidenav {
    width: 250px;
    flex: 0 0 250px;
    border-right: 1px solid rgba(0, 0, 0, 0.12);
}

.layout-content {
    display: flex;
    flex-direction: column;
    height: 100%;
    flex: 1 1 auto;
    min-width: 0;
}

.main-content {
    flex: 1;
    padding: 16px 24px 24px 24px;
    overflow: auto;
}
