{{ template "header.html" . }}

<main>
    <h1>{{ .Title }}</h1>

    <h2>Matchers</h2>
    {{ range .Matchers }}
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">{{ .Name }}</h5>
            <form action="/web/matchers" method="DELETE">
                <input type="hidden" name="id" value="{{ .Id }}">
                <button type="submit" class="btn btn-primary">Delete</button>
        </div>
    </div>
    {{ end }}

</main>

{{ template "footer.html" . }}