<nav class="sidebar-nav">
  <mat-nav-list class="nav-list">
    @for (item of menuItems(); track item.route) {
      <a
        mat-list-item
        [routerLink]="item.route"
        routerLinkActive="active"
        class="nav-item"
      >
        <mat-icon matListItemIcon>{{ item.icon }}</mat-icon>
        <span matListItemTitle>{{ item.label }}</span>
      </a>
    }
  </mat-nav-list>
  <div class="sidebar-footer">
    <span class="copyright">© {{ currentYear() }} Geek Budget. All rights reserved.</span>
    <span class="version">Version {{ version() }}</span>
  </div>
</nav>

