<h2 mat-dialog-title>Delete Account</h2>
<mat-dialog-content>
    <div class="confirm-message">
        Are you sure you want to delete account:
        <app-account-display
            [name]="accountToDelete.name"
            [image]="accountToDelete.image"
            size="medium"
            class="account-preview"
        ></app-account-display>
        ?
    </div>
    <p class="text-warn">
        This action cannot be undone. All related data might be lost unless reassigned.
    </p>

    <div class="control-container">
        <app-account-select
            label="Reassign transactions to (optional)"
            [ngModel]="replaceWithAccountId()"
            (ngModelChange)="replaceWithAccountId.set($event)"
            [excludedIds]="[accountToDelete.id]"
            placeholder="Select a replacement account"
        ></app-account-select>
        <p class="hint-text" style="font-size: 75%; opacity: 0.7; margin-top: 5px">
            Leave empty to <strong>delete</strong> associated transactions.
        </p>
    </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button (click)="onCancel()">Cancel</button>
    <button mat-flat-button color="warn" (click)="onConfirm()">Delete</button>
</mat-dialog-actions>
